body {
	background-image: url('img/wooddark.jpeg');
	background-repeat: repeat;
	box-shadow: inset 0 0 100px #000000;
}
html, body {
	height: 100%;
	overflow: hidden;
}

#ui {
	pointer-events: none;
}

.app_size {
	width: 800px;
	height: 600px;
}
.app_overlay {
	top: 0px;
	left: 0px;
	position: absolute;
}

.full_canvas {
	width: 100%;
	height: 100%;
}

.canvas_container {
	/* this fixes the overflow:hidden in Chrome/Opera */
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
}

#control_bar {
	z-index: 100;
	top: -30px;
	position: absolute;
}
#app {
	user-select: none;
	position: absolute;
	top: 0px;
	left: 0px;
	border: 2px solid white;
	overflow: hidden;
	background: rgba(200, 210, 210, .2);
}
.tuning_slider {
	width: 150px;
	height: 5px;
	background: rgba(200, 0, 210, .8);
}
#news_bar {
	position: absolute;
	width: 150px;
	height: 100%;
}
#star_info {
	width: 150px;
	height: 300px;
}

#bot_logo {
	float: left;
	background-image: url('img/temp-bot.png');
	width: 20px;
	height: 20px;
	background-size: 100%;
}
#control_bar {
	z-index: 60;
	height: 20px;
}
.popup {
	position: absolute;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	overflow: hidden;
	transition: all .3s ease-in-out;
}
.popup_hidden {
	width: 0px;
	height: 0px;
	padding: 0px;
	margin: -5px;
	opacity: 0px;
}
.popup_active {
	width: 100px;
	height: 20px;
	padding: 6px;
	margin: 6px;
	border-radius: 15px;
}
.bar {
	padding: 12px;
	position: absolute;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
	width: 100%;
	height: 200px;
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
	transition: all .3s ease-in-out;
}
.panel {
	font-size: 70%;

	position: absolute;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
	width: 200px;
	height: 200px;
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
	overflow: hidden;
	transition: all .3s ease-in-out;
}
