#side_buttons {
	position: absolute;
	left: 0px;
	top: 140px;
	width: 100px;
	height: 300px;
}

#ai_overlay {
	position: absolute;
	top: 10px;
	left: 810px;
	z-index: 100;
	width: 600px;
	height: 600px;
	background: rgba(110, 120, 140,.9);
}

.text_panel {
	padding: 5px;
	padding-top: 10px;
}

.full_canvas {

}

.node circle {
	fill: #fff;
	stroke: steelblue;
	stroke-width: 1.5px;
}

.node.active {
	fill: #FF4444;
}

.node {
	fill: #003565;
}

.link {
	fill: none;
}

.link_false {

	stroke: #f22;
}

.link_true {

	stroke: #2ff;
}

