#side_buttons {
	position: absolute;
	left: 0px;
	top: 140px;
	width: 100px;
	height: 300px;
}

#app {
	width: 800px;
	height: 600px;
}

.vert_panel {
	float: left;
	width: 350px;
	height: 360px;
}

#three_panel {

}

#user_controls {
	pointer-events: all;
	float: left;
}

.panel {
	padding: 7px;
	margin: 4px;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
}
.mainpanel {
	margin: 4px;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
	box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, .4);
	border-radius: 15px;
}

#drawing_panel {
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}

#drawing_canvas {

}

.textLine {
	float: left;
	border: 2px solid white;
	background: rgba(200, 210, 210, .8);
}

.medallion_sliders {
	float: left;
	background: rgba(100, 210, 210, .8);
}

.medallion_holder {
	float: left;
	background: rgba(100, 210, 210, .3);
}

.panel_holder {
	float: left;
}
